{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>İpek Kalıp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'ipek_assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'ipek_assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'ipek_assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'ipek_assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'ipek_assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'ipek_assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'ipek_assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'ipek_assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a href="ipek" class="scrollto"><img src="{% static 'ipek_assets/img/logo.jpg' %}" alt="İpek Kalıp" title=""></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Anasayfa</a></li>
          <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
          <li><a class="nav-link scrollto" href="#hotels">Teknoloji</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Galeri</a></li>
          <li><a class="nav-link scrollto" href="#supporters">Group</a></li>
         
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a class="buy-tickets scrollto" href="#contact">İletişim</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0"> <span>İPEK</span> KALIP</h1>
      <p class="mb-4 pb-0">Kalite, Güven, Hizmet</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">Hakkımızda</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container position-relative" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>Erdal DEMIRKILIC</h2>
            <p> İpek Kalıp Yönetim Kurulu Başkanı </p>
            <p>Firmamız kurulduğu günden bu güne ayakkabıclık sektörünün en önemli bileşenlerinden biri olan ayakkabı kalıbı sektöründe müşterilerine deneyimini en üst düzeyde sunmaktadır. </p>
            <p>  </p>
          </div>
          <div class="col-lg-3">
            <h3>Vizyon</h3>
            <p>Vizyonumuz, ilham veren bir dünyanin inşasinda öncü olmaktir. Müşterilerimize değer katarken, sürdürülebilirlik, yenilik ve mükemmeliyeti bir araya getirerek global bir etki yaratmayi hedefliyoruz. Değişime liderlik eden, sinirlari aşan bir sirket olarak, gelecekteki firsatlara yön vermek için kararliyiz.</p>
          </div>
          <div class="col-lg-3">
            <h3>Teknoloji</h3>
            <p>Bünyemizde bulunan son teknoloji makinelerimiz ve aletlerimiz ile işimizi hataya yer vermeden ve düzenli bir şekilde yapmaktayiz.</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    
    </section><!-- End Speakers Section -->
  
    
    <!-- ======= Venue Section ======= -->
  

    <!-- ======= Hotels Section ======= -->
    <section id="hotels" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Teknoloji</h2>
          <p>Üretimde kullandığımız bazı makinelerin fotoğrafları</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'ipek_assets/img/hotels/1.jpg' %}" alt="CNC" class="img-fluid">
              </div>
              <h3><a href="#">Tarayıcı</a></h3>
     
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'ipek_assets/img/hotels/2.jpg' %}" alt="PVC" class="img-fluid">
              </div>
              <h3><a href="#">CNC</a></h3>
              <p></p>
            </div>
          </div>

          

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'ipek_assets/img/hotels/3.jpg' %}" alt="Ayakkabi CNC" class="img-fluid">
              </div>
              <h3><a href="#">PVC Enjeksiyon</a></h3>
       
              <p></p>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Hotels Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Galerimize bir göz atın</p>
        </div>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a href="{% static 'ipek_assets/img/gallery/1.jpg' %}" class="gallery-lightbox"><img src="{% static 'ipek_assets/img/gallery/1.jpg' %}" class="img-fluid" alt="Ayakkabı Kalıbı"></a></div>
          <div class="swiper-slide"><a href="{% static 'ipek_assets/img/gallery/2.jpg' %}" class="gallery-lightbox"><img src="{% static 'ipek_assets/img/gallery/2.jpg' %}" class="img-fluid" alt="Plastik Ayakkabı kalıbı"></a></div>
          <div class="swiper-slide"><a href="{% static 'ipek_assets/img/gallery/3.jpg' %}" class="gallery-lightbox"><img src="{% static 'ipek_assets/img/gallery/3.jpg' %}" class="img-fluid" alt="Ayakkabı imalat kalıbı"></a></div>
          <div class="swiper-slide"><a href="{% static 'ipek_assets/img/gallery/4.jpg' %}" class="gallery-lightbox"><img src="{% static 'ipek_assets/img/gallery/4.jpg' %}" class="img-fluid" alt="Plastik Kalıp"></a></div>
          <div class="swiper-slide"><a href="{% static 'ipek_assets/img/gallery/5.jpg' %}" class="gallery-lightbox"><img src="{% static 'ipek_assets/img/gallery/5.jpg' %}" class="img-fluid" alt="İpek kalıp"></a></div>
          <div class="swiper-slide"><a href="{% static 'ipek_assets/img/gallery/6.jpg' %}" class="gallery-lightbox"><img src="{% static 'ipek_assets/img/gallery/6.jpg' %}" class="img-fluid" alt="Ayakkabı kalıpları"></a></div>
          <div class="swiper-slide"><a href="{% static 'ipek_assets/img/gallery/7.jpg' %}" class="gallery-lightbox"><img src="{% static 'ipek_assets/img/gallery/7.jpg' %}" class="img-fluid" alt="iç maça"></a></div>
          <div class="swiper-slide"><a href="{% static 'ipek_assets/img/gallery/8.jpg' %}" class="gallery-lightbox"><img src="{% static 'ipek_assets/img/gallery/8.jpg' %}" class="img-fluid" alt="ayakkabı iç maça kalıp"></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </section><!-- End Gallery Section -->

    <!-- ======= Supporters Section ======= -->
    <section id="supporters" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Group</h2>
          <p>Bünyemizde bulunan firmalar ve partnerler</p>
        </div>

        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'ipek_assets/img/supporters/1.png' %}" class="img-fluid" alt="İpek Kalıp">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'ipek_assets/img/supporters/2.jpg' %}" class="img-fluid" alt="Dion">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'ipek_assets/img/supporters/3.png' %}" class="img-fluid" alt="Şafak Kalıp">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'ipek_assets/img/supporters/4.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'ipek_assets/img/supporters/5.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'ipek_assets/img/supporters/6.PNG' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'ipek_assets/img/supporters/7.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Sponsors Section -->

    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>S.S.S </h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">

            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Ürünleri nasıl sipariş vermeliyim ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Ürünleri sipariş vermeden önce stok bilgisi için lütfen iletişim sayfasından bizimle iletişime geçip detayları görüşebilirsiniz.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Ürünler ile ilgili bir problem olursa ne yapmalıyım ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Sipariş verip teslim aldığınız ürünler ile ilgili oluşabilecek problemler için bizimle iletişime geçtiğiniz takdirde sorunularınız hızlıca çözümlenecektir.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Siparişim eksik geldi ne yapabilirim ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Eksik gelen miktarlar ile bilgiler değerlendirildikten sonra kalan ürünler tarafınıza teslim edilecektir.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Verilen siparişin teslim süresi nedir ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Talep edilen siparişlerin miktarı ve talep edilen yere göre teslimat süresi değişmektedir.
                  </p>
                </div>
              </li>


            </ul>

          </div>
        </div>

      </div>

    </section><!-- End  F.A.Q Section -->

   

    <!-- ======= Buy Ticket Section ======= -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>İletişim</h2>
          <p>Bizimle iletişime geçin.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Adres</h3>
              <address>Merkez : Sanayi Mah. 60181 Nolu Cad. No:13 Şehitkamil / Gaziantep <br> <br> Şube : Sanayi Mah. Sancak Sk. No:8/A Güngören/İstanbul</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Telefon Numarası</h3>
              <p><a href="tel:+155895548855">+90 532 478 0886</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">ierdaldemirkilic@gmail.com <br> info@ipekkoza.com.tr</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="/submit" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="İsiminiz ve soyisminiz" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email adresiniz" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mesajınız" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Yükleniyor...</div>
              <div class="error-message"></div>
              <div class="sent-message">Mesajınız gönderildi, bize ulaştığınız için teşekkür ederiz.</div>
            </div>
            <div class="text-center"><button type="submit" >Gönder</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
   

    <div class="container">
      <div class="copyright">
        &copy; Copyrights 2023 <strong>Demirkilic Group</strong>. Her hakkı bize aittir.
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
        Designed by <a href="/">Demirkilic yazilim gelistirme</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'ipek_assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'ipek_assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'ipek_assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'ipek_assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'ipek_assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'ipek_assets/js/main.js' %}"></script>

</body>

</html>