<!DOCTYPE html>
<html>
<title>DEMIRKILIC TICKET</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-container w3-auto">
<!--
<h2>Display Success</h2>
<p>The w3-panel class can be used to display success:</p>
-->
 <!--
<div class="w3-panel w3-pale-green w3-border">
  <h3>Success!</h3>
  <p>Green often indicates something successful or positive.</p>
</div>
-->
<div class="w3-panel w3-green">
  <h3>Ref : {{ bilet_numarasi }}</h3>
  <p>Mesajınızı aldık, en kısa süre içerisinde size tekrardan dönüş yapacağız.</p>
   <a href="/" class="w3-button w3-blue">Ana Menüye Dön</a>
</div>

</body>
</html>
